flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import "imports"
@import "variables"
@import "mixins"
@import "general"
@import "header"
@import "content"
@import "footer"
@import "responsive"