global-reset()

*
    box-sizing border-box

body
    background #f3f3f3
    font-family $system_font
    font-size 14px

    input, select, textarea
        font-family $system_font
        font-size 14px

.container
    max-width 750px
    margin 0px auto


.empty
    app_flex()
    margin-top 32px